<style>
  .navigation-wrapper {
    position: relative;
  }

  .dots {
    display: flex;
    margin-top: 50px;
    justify-content: center;
  }

  .dot {
    border: none;
    width: 10px;
    height: 10px;
    {% comment %}
      background: #c5c5c5;
    {% endcomment %}
    border: 1px solid #848484;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
  }

  .dot:focus {
    outline: none;
  }

  .dot--active {
    background: var(--main-blue-gradient);
    width: 100px;
    border-radius: 20px;
    transition: all 0.3s;
    border-color: transparent;
  }

  .arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    transform: translateY(-55%);
    -webkit-transform: translateY(-55%);
    fill: #fff;
    cursor: pointer;
    transition: all 0.3s;
  }

  .arrow--left {
    transform: translateY(15%);
    right: 35px;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
  }
  .arrow--right {
    transform: translateY(15%);
    left: auto;
    right: 5px;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
    }


  .slider__wrapper {
    background: #242E3A;
    box-shadow: inset 5px 5px 50px rgba(0, 0, 0, 0.25);
  }

</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.css" />

<div class="flex justify-center align-center my-8 sm:my-32">
  <div class="container px-6 sm:px-0">
    <div class="flex flex-col">
      <div class="w-full text-center">
        <h1 class="text-3xl sm:text-5xl lg:text-6xl uppercase">{{ section.settings.title }}</h1>
      </div>
      <div class="rounded-3xl mt-8 sm:mt-16 py-8">
        <div class="slider__wrapper p-16 rounded-3xl">
          <div id="my-keen-slider" class="keen-slider">
            {% for product in collections.all.products limit: 10 %}
              {% if product.collections.first.handle != "additional-options" and product.type != "Gift Card" %}
                <div class="flex flex-col align-center justify-center keen-slider__slide">
                  <img src="{{ product.featured_image | img_url: 'large'}}"alt="{{ product.featured_image.alt }}">
                  <h3 class="text-center mt-10">{{ product.title }}</h3>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Best Selling Cards",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "BEST SELLING FOOTBALL CARDS",
        "label": "Title"
      }
    ]
  }
{% endschema %}

<script src="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.js"></script>
{{ 'best_selling_cards.js' | asset_url | script_tag }}