<style>

  .slider__discount {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    padding: 0 24px;
    color: white;
  }
  .slider__discount .slide {
    padding: 0;
  }
  .slider__discount .slide .child-element {
    transition: all 0.2s ease;
    width: 100%;
    height: 390px;
    margin: 30px 0;
    transition: all 0.5s;
    background: linear-gradient(222.29deg, #437FD8 -10.81%, #0D2E84 138.98%);
    box-shadow: 8px 8px 15px -2px rgba(0, 0, 0, 0.25);
    opacity: 0.35;
  }
  .slider__discount .slide.slick-center .child-element {
    background: linear-gradient(222.29deg, #437FD8 -10.81%, #0D2E84 138.98%);
    box-shadow: 8px 8px 15px -2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 0;
    height: 450px;
    max-width: initial;
    opacity: 1;
  }
</style>
<div class="flex justify-center align-center my-8 sm:my-32">
  <div class="container">
    <div class="flex flex-col">
      <div class="w-full text-center">
        <h1 class="text-3xl sm:text-5xl lg:text-6xl">Discounts</h1>
      </div>
      <div class="w-full justify-center items-center mt-8 sm:mt-16" id="slider__discounts-wrapper">
        <div class="slider__discount">
          {% for product in collections.all.products %}
            {% if product.type == "Gift Card" %}
              {% for variant in product.variants %}
                {% comment %} <div class="flex lg:flex-row gap-x-2 md:gap-x-6" style="display:flex; flex-direction:row!important">
                <div class="flex items-center justify-center w-1/2">
                <img src="{{ variant.featured_image.src | img_url: 'large' }}" alt="{{ variant.featured_image.alt }}">
                </div>
                <div class="flex flex-col justify-center items-start max-w-sm w-1/2">
                <h1 class="text-2xl md:text-8xl">{{ forloop.index }}</h1>
                <h3 class="text-sm md:text-2xl">{{ variant.title }}</h3>
                <p class="text-xs md:text-base">{{variant.sku}}</p>
                </div>
                </div> {% endcomment %}
                <div class="slide relative">
                  <div class="child-element flex justify-center items-center">
                    <div class="flex flex-col xl:flex-row justify-center items-center xl:justify-start w-full py-4 px-4 md:px-8 xl:px-16 gap-x-10 relative z-20">
                      <img
                        src="{{ variant.featured_image.src | img_url: 'large' }}"
                        alt="{{ variant.featured_image.alt }}"
                        class="w-24 sm:w-36 xl:w-auto">
                      <div class="flex flex-col justify-center items-center xl:items-start gapy-2 xl:gap-y-4">
                        <h1 class="text-xl xl:text-4xl not-italic font-extralight">{{ product.title }}</h1>
                        <h1 class="text-lg xl:text-7xl not-italic">{{ variant.price | money }}</h1>
                        <p class="xl:text-start font-light text-xs md:text-base">{{ variant.sku }}</p>
                        <button
                          onclick="addGiftToCard(event)"
                          _variant-id="{{ variant.id }}"
                          type="button"
                          class="add-to-cart-button border rounded-full border-white px-8 py-1 mt-4 transition duration-300 hover:opacity-75">Shop Gift Card</button>
                      </div>
                    </div>
                  </div>
                  <div class="absolute bottom-10 right-10 hidden xl:block">
                    <h1 class="text-4xl 2xl:text-6xl text-[#234A97] relative z-10">CARDSFLEX</h1>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.slider__discount').slick({
    slidesToShow: 1,
    centerMode: true,
    centerPadding: "15%",
    speed: 500,
    arrows: false
  });

  function addGiftToCard(data) {
    const variantId = data.target.getAttribute('_variant-id');
    const quantity = 1;
    const cartUrl = '/cart';
    const formData = new FormData();
    formData.append('id', variantId);
    formData.append('quantity', quantity);
    fetch('/cart/add.js', {
      method: 'POST',
      body: formData
    }).then(() => {
      window.location.href = cartUrl;
    });
  }
</script>