<nav class="p-5 border-gray-200 bg-inherit dark:border-gray-700 {% if template == 'index' or template == 'blog' or template == 'product' %}absolute{% endif %} z-20 w-full flex justify-center items-center">
  <div class="w-full flex justify-center items-center relative">
    <div class="container">
      {% comment %} desktop menu start {% endcomment %}
      <div class="hidden md:flex items-center justify-between">
        <div>
          <a href="{{ routes.root_url }}" class="flex items-center">
            <h1 class="text-2xl xl:text-4xl font-semibold whitespace-nowrap">{{ shop.name }}</h1>
          </a>
        </div>
        <div class="flex gap-x-4 lg:gap-x-6 xl:gap-x-8 justify-center items-center">
          <div class="flex gap-x-4 lg:gap-x-6 xl:gap-x-8">
            <a href="/blogs/support" class="transition-opacity duration-300 hover:opacity-75">
              <p class="text-base lg:text-lg font-light tracking-widest">
                {{ section.settings.support_link }}
              </p>
            </a>
            <a href="/blogs/news" class="transition-opacity duration-300 hover:opacity-75">
              <p class="text-base lg:text-lg font-light tracking-widest">
                {{ section.settings.blog_link }}
              </p>
            </a>
          </div>
          <div class="flex gap-x-4 lg:gap-x-6 xl:gap-x-8">
            <a href="/account" class="transition-opacity duration-300 hover:opacity-75">
              {% render 'icon-account' %}
            </a>
            <div class="relative">
              <a href="{{ routes.cart_url }}" class="transition-opacity duration-300 hover:opacity-75">
                {% render 'icon-shopping-bag' %}
              </a>
              <span class="bg-red-500 rounded-full text-white absolute top-0 right-0 text-xs px-1 -mt-2 -mr-2">{{ cart.item_count }}</span>
            </div>
          </div>
          <div class="flex gap-x-4 lg:gap-x-6 xl:gap-x-8">
            <a href="{{ routes.all_products_collection_url}}" class="font-medium text-white py-2 xl:py-2 px-6 rounded-3xl bg-blue__gradient flex justify-center duration-300 hover:opacity-75">
              {{ section.settings.shop-button-title }}
              <span class="ml-3">
                {% render 'icon-arrow-right-rounded' %}
              </span>
            </a>
          </div>
          <div class="flex gap-x-4 lg:gap-x-6 xl:gap-x-8">
            <div class="border border-green-800 pt-1 px-1 flex items-center justify-center">
              <a href="#" class="duration-300 hover:opacity-75 text-base lg:text-lg">
                {% render 'icon-eng-lang' %}
                <p class="text-base lg:text-lg">
                  EN
                </p>
              </a>
            </div>
            <div class="border border-green-800 pt-1 px-1 flex items-center justify-center">
              <a href="#" class="duration-300 hover:opacity-75 text-base lg:text-lg">
                {% render 'icon-eng-lang' %}
                <p class="text-base lg:text-lg">
                  EN
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% comment %} desktop menu end {% endcomment %}



      {% comment %} mobile menu start {% endcomment %}

      {% comment %} mobile header start {% endcomment %}
        <div class="w-full justify-center items-center md:hidden"> <div class="w-full flex justify-between">
          <div>
            <a href="{{ routes.root_url }}" class="flex items-center">
              <h1 class="text-2xl xl:text-4xl font-semibold whitespace-nowrap">{{ shop.name }}</h1>
            </a>
          </div>
          <div class="flex gap-x-10 items-center">
            <div class="flex gap-x-4">
              <a href="/account" class="transition-opacity duration-300 hover:opacity-75">
                {% render 'icon-account' %}
              </a>
              <div class="relative">
                <a href="{{ routes.cart_url }}" class="transition-opacity duration-300 hover:opacity-75">
                  {% render 'icon-shopping-bag' %}
                </a>
                <span class="bg-red-500 rounded-full text-white absolute top-0 right-0 text-xs px-1 -mt-2 -mr-2">{{ cart.item_count }}</span>
              </div>
            </div>
            <div class="text-white flex items-center">
              <button id="open-mobile-menu">
                {% render 'icon-burger-menu' %}
              </button>
            </div>
          </div>
        </div>
      </div>
      {% comment %} mobile header end  {% endcomment %}

      {% comment %} mobile dropdown start {% endcomment %}
      <div
        class="md:hidden p-4 rounded-xl flex items-center justify-center fixed w-full top-2 left-0 right-0 mx-auto z-10"
        style="display:none"
        id="mobile-menu-dropdown">
        <div class="bg-blue-custom w-full rounded-xl flex items-center justify-center py-6">
          <div class="flex flex-col gap-y-4">
            <div class="flex flex-col gap-y-4 lg:gap-x-6 xl:gap-x-8 justify-center items-center">
              <a href="/blogs/support" class="transition-opacity duration-300 hover:opacity-75">
                <p class="text-base lg:text-lg font-light tracking-widest">
                  {{ section.settings.support_link }}
                </p>
              </a>
              <a href="/blogs/news" class="transition-opacity duration-300 hover:opacity-75">
                <p class="text-base lg:text-lg font-light tracking-widest">
                  {{ section.settings.blog_link }}
                </p>
              </a>
            </div>
            <div class="flex gap-x-4 lg:gap-x-6 xl:gap-x-8">
              <a href="{{ routes.all_products_collection_url}}" class="font-medium text-white py-2 xl:py-2 px-6 rounded-3xl bg-blue__gradient flex justify-center duration-300 hover:opacity-75">
                {{ section.settings.shop-button-title }}
                <span class="ml-3">
                  {% render 'icon-arrow-right-rounded' %}
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% comment %} mobile dropdown end {% endcomment %}

      {% comment %} mobile menu end {% endcomment %}

    </div>
  </div>
</nav>

{% comment %} class="bg-white w-full rounded-full mt-12 py-3 transition-opacity duration-300 hover:opacity-75 tab_item active disabled:opacity-75" {% endcomment %}


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "text",
        "id": "support_link",
        "default": "SUPPORT",
        "label": "Support Link Title"
      }, {
        "type": "text",
        "id": "blog_link",
        "default": "BLOG",
        "label": "Blog Link Title"
      }, {
        "type": "text",
        "id": "shop-button-title",
        "default": "Shop cards",
        "label": "Shop Button title"
      }
    ]
  }
{% endschema %}