{{ 'animation.css' | asset_url | stylesheet_tag }}
<style>
  .main {}
  #index_cover {
    background: url('{{ 'main_page.png' | asset_url }}');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
  }
  #intro__text-first {
    font-weight: 500 !important;
  }
  #intro__text-second {
    font-weight: 800;
  }
  #intro__text-paragraph {
    font-family: 'Roboto';
  }

  #header__shop_card-button {
    font-weight: 600;
    color: white;
    padding: 10px 50px;
    background: linear-gradient(222.29deg, #437FD8 -10.81%, #0D2E84 138.98%);
    transition: 0.35s;
    width: 250px;
    display: flex;
    justify-content: center;
  }

  #header__shop_card-button:hover {
    opacity: 0.75;
  }

  #intro__banner {
    margin-top: -120px;
  }


  @media only screen and (max-width: 1024px) {
    #intro__banner {
      margin-top: -115px;
    }
  }


  @media only screen and (max-width: 768px) {
    #intro__text-first,
    #intro__text-second {
      margin: auto;
    }
    #intro__text-paragraph {
      margin: 10px auto auto;
      text-align: center;
    }
    .wrapper {
      flex-direction: column;

    }
    #img__header {
      margin-top: 20px;
    }
    #header__shop_card-button {
      margin: 20px auto auto;
    }
    #intro__banner {
      margin-top: -110px;
    }
  }

  @media only screen and (max-width: 640px) {
    #intro__banner {
      margin-top: -105px;
    }
  }
</style>

<div class="flex justify-center items-center lg:h-screen lg:w-screen noselect" id="index_cover">
  <div class="container">
    <div class="wrapper px-5 flex py-24">
      <div class="w-fit md:w-1/2 flex flex-col justify-center align-center mx-auto">
        <h1 class="text-white whitespace-nowrap leading-none text-4xl md:text-6xl 2xl:text-8xl" id="intro__text-first">THE PERFECT</h1>
        <h1 class="text-white whitespace-nowrap leading-none z-10 text-4xl md:text-6xl 2xl:text-8xl" id="intro__text-second">FOOTBALL GIFT</h1>
        <p class="text-white lg:leading-7 mt-5 font-thin lg:text-2xl tracking-wide" id="intro__text-paragraph">
          CardsFlex is the best place to buy football cards in the Middle East. Our collection of cards from Saudi Arabia is one of the largest and most comprehensive in the region. Shop now to get the best football cards.
        </p>
        <div>
          <a
            href="{{ routes.all_products_collection_url}}"
            class="mt-10 rounded-full flex items-center"
            id="header__shop_card-button">
            Shop cards
            <span class="translate-x-12">
              {% comment %} {% render 'icon-arrow-right-rounded' %} {% endcomment %}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-8 h-8">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="w-3/5 md:w-1/2 flex justify-center align-center mx-auto">
        <img
          src="{{ 'header_image.png' | asset_url }}"
          class="object-fit w-80 md:w-auto"
          id="img__header"
          alt="{{ 'header_image.png' | asset_url }}">
      </div>
    </div>
    <div class="w-full h-10 bg-white rounded-lg md:rounded-3xl" id="intro__banner"></div>
  </div>
</div>