{% assign selected_variant = product.selected_or_first_available_variant %}
{{ 'leagues.js' | asset_url | script_tag }}
{{ 'countries.js' | asset_url | script_tag }}
<style>
  .product--information {
    height: fit-content;
  }
  textarea:focus,
  input:focus {
    outline: none;
    background: transparent;
  }

  .product__form-input {
    border: 1px solid white;
  }
  .product__page-background {
    background-image: linear-gradient(180deg, #0F1521 0%, rgba(15, 21, 33, 0.479167) 43.96%, #303741 100%);
    background-repeat: no-repeat;
  }

  .active__variant {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
  }

  .active {
    opacity: 1 !important;
    border-bottom: 2px solid white !important;
  }
  .underline-animation {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-out, border-bottom-left-radius 0.3s ease-out;
  }

  .underline-animation:hover,
  .underline-animation:focus {
    border-bottom: 2px solid white;
    border-bottom-left-radius: 0;
  }

  .animate-card-on-fixed {
    transition: transform 0.75s ease-out;
    transform: translateY(20px);
  }


  .custom-radio {
    position: relative;
    display: inline-block;
  }

  .custom-radio input[type="radio"] {
    position: absolute;
    left: -9999px;
  }

  .custom-radio .radio-button {
    width: 75px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    content: "";
    opacity: 0.5;
    transition: 0.35s;
    cursor: pointer;
  }

  .custom-radio input[type="radio"]:checked + .radio-button {
    background-color: rgb(255, 255, 255);
    opacity: 1;
    color: var(--blue-text) !important;
  }
  .custom-radio input[type="radio"]:checked + .radio-button p {
    color: var(--blue-text) !important;
  }
</style>

{% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}
  <div class="tab-pane activee" id="tab-1">
    <div class="flex justify-center align-center relative">
      <div class="container">
        <div class="flex flex-col my-24 sm:my-28">
          <!-- Product title start -->
          <div class="w-full text-center sm:text-start hidden lg:block">
            <h1 class="text-3xl sm:text-5xl lg:text-6xl uppercase">{{ product.title }}</h1>
            <p class="font-light sm:w-2/3">{{ product.description }}</p>
          </div>
          <!-- Product title end -->

          <!-- Product options start -->
          <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-y-6 justify-items-center mt-4 sm:mt-16">

            <!-- Product left side start -->
            <div class="w-full grid grid-cols-5 justify-center">
              <div class="z-10 col-span-5 lg:col-span-4 flex justify-center">
                <div id="fixed__product">
                  <canvas
                    id="product-canvas"
                    {% comment %}
                    width="350"
                    {% endcomment %}
                    {% comment %}
                    height="500"
                    {% endcomment %}
                    class=""
                    crossOrigin="anonymous"
                    style="z-index: -1111;"></canvas>
                  <img
                    class="object-cover hidden"
                    src="{{ product.featured_image | img_url: 'large' }}"
                    alt="{{ product.featured_image.alt }}"
                    id="featured__image"
                    crossorigin="Anonymous">
                </div>
              </div>
            </div>
            <!-- Product left side end -->

            <!-- Product right side start ( PRODUCT FORM ) -->
            <div class="w-full h-full flex flex-col">
              <input
                type="hidden"
                name="id"
                id="variant__id"
                value="{{ selected_variant.id }}">

              <section class="section_card_guides_size">
                <div class="bg-blue__gradient p-6 rounded-lg hidden lg:block">
                  <div class="grid grid-cols-3 gap-y-3 gap-x-6">
                    <div class="flex items-center justify-start">
                      <div class="flex flex-col items-start justify-center gap-y-3">
                        <div class="flex items-center gap-x-2">
                          <span>{% render 'easy_to_personalise_icon' %}</span>
                          <p class="text-xs">{{ section.settings.guide_1 }}</p>
                        </div>
                        <div class="flex items-center gap-x-2">
                          <span>{% render 'easy_to_personalise_icon' %}</span>
                          <p class="text-xs">{{ section.settings.guide_2 }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="flex items-center justify-center">
                      <div class="flex flex-col items-start justify-center gap-y-3">
                        <div class="flex items-center gap-x-2">
                          <span>{% render 'easy_to_personalise_icon' %}</span>
                          <p class="text-xs">{{ section.settings.guide_3 }}</p>
                        </div>
                        <div class="flex items-center gap-x-2">
                          <span>{% render 'easy_to_personalise_icon' %}</span>
                          <p class="text-xs">{{ section.settings.guide_4 }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="flex items-center justify-end">
                      <div class="flex flex-col items-start justify-center gap-y-3">
                        <div class="flex items-center gap-x-2">
                          <span>{% render 'easy_to_personalise_icon' %}</span>
                          <p class="text-xs">{{ section.settings.guide_5 }}</p>
                        </div>
                        <div class="flex items-center gap-x-2">
                          <span>{% render 'easy_to_personalise_icon' %}</span>
                          <p class="text-xs">{{ section.settings.guide_6 }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <!-- Product size start -->
              <section class="section_card_guides_size">
                <div class="bg-blue__gradient p-6 rounded-lg mt-4 hidden lg:block">
                  <div class="">
                    <h3 class="text-xl md:text-2xl lg:text-3xl">{{ section.settings.step_title_1 }}</h3>
                  </div>
                  <div>
                    <div>
                      <label for="" class="uppercase text-xs">{{ section.settings.step_label_1 }}</label>
                      <!-- Current price start -->
                      <div class="my-3" id="price-{{ section.id }}">
                        {% comment %} <span class="text-base text-gray-500 line-through">{{ selected_variant.compare_at_price | money }}</span>
                        <span class="text-lg text-white">{{ selected_variant.price | money }}</span> {% endcomment %}

                        {% if selected_variant.price < selected_variant.compare_at_price %}
                          <span class="px-5 py-1 text-sm font-bold bg-red-500 rounded-full text-white mx-4">Sale</span>
                        {% endif %}
                      </div>
                      <!-- Current price end -->

                    </div>
                    <div class="grid grid-cols-2 gap-y-4 gap-x-2 xl:grid-cols-4 place-items-center py-4">
                      {% for item in product.variants %}
                        <a
                          href="javascript:void(0)"
                          onclick="updateForm('{{item.id}}', '{{ item.price | money }}')"
                          id=""
                          class="w-full selected__variant_id-{{item.id}}">
                          <div class="relative bg-gray-300 rounded-lg">
                            <p class="font-family-kufam absolute italic font-black text-gray-500 right-0 mr-3 mt-1">{{ item.price | money }}</p>
                            <p class="font-family-kufam absolute bottom-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-gray-500 text-sm">{{ item.title }}</p>
                            <img
                              src="{{ item.featured_image.src | img_url: 'large' }}"
                              alt=""
                              class="w-full max-h-[250px] pt-4 object-contain">
                          </div>
                        </a>
                      {% endfor %}
                    </div>
                    <div class="flex justify-center flex-col gap-y-4">
                      <div class="flex items-center">
                        <div class="flex relative cursor-pointer z-10">
                          <div class="text-white" id="info-product-icon">
                            {% render 'icon-info' %}
                          </div>
                          <div class="ml-1">
                            <span class="text-white text-xs">{{ section.settings.step_1_tooltip }}</span>
                            <div
                              class="transition-opacity bg-gray-800 px-4 text-sm text-gray-100 rounded-md absolute opacity-0 -left-3 mt-2"
                              style="visibility:hidden"
                              id="info-product-tooltip">
                              <div class="grid grid-cols-4 gap-x-4 md:gap-x-20 py-2 px-1 md:py-4 md:px-3 w-80 md:w-[600px]">
                                <div class="flex flex-col justify-start items-center">
                                  <p>
                                    Small(A4)
                                  </p>
                                  <p class="text-[10px] md:text-xs text-gray-400">Height - 29cm</p>
                                  <p class="text-[10px] md:text-xs text-gray-400">Width - 18cm</p>
                                  <p class="text-[10px] md:text-xs text-gray-400">Tickness - 3cm</p>
                                </div>
                                <div class="flex flex-col justify-start items-center">
                                  <p>
                                    Small(A4)
                                  </p>
                                  <p class="text-[10px] md:text-xs text-gray-400">Height - 29cm</p>
                                  <p class="text-[10px] md:text-xs text-gray-400">Width - 18cm</p>
                                  <p class="text-[10px] md:text-xs text-gray-400">Tickness - 3cm</p>
                                </div>
                                <div class="flex flex-col justify-start items-center">
                                  <p>
                                    Small(A4)
                                  </p>
                                  <p class="text-[10px] md:text-xs text-gray-400">Height - 29cm</p>
                                  <p class="text-[10px] md:text-xs text-gray-400">Width - 18cm</p>
                                  <p class="text-[10px] md:text-xs text-gray-400">Tickness - 3cm</p>
                                </div>
                                <div class="flex flex-col justify-start items-center">
                                  <p>
                                    Small(A4)
                                  </p>
                                  <p class="text-[10px] md:text-xs text-gray-400">Height - 29cm</p>
                                  <p class="text-[10px] md:text-xs text-gray-400">Width - 18cm</p>
                                  <p class="text-[10px] md:text-xs text-gray-400">Tickness - 3cm</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- Product size end -->

              {% render 'mobile-product-size-section' %}
              {% render 'mobile-product-card-name-section' %}
              {% render 'mobile-product-card-picture-section' %}
              {% render 'mobile-product-card-position-section' %}
              {% render 'mobile-product-card-club-section' %}
              {% render 'mobile-product-card-country-section' %}
              {% render 'mobile-product-card-stats-section' %}
              <!-- Product name/picture start -->
              <section
                class="section_card_picture_position hidden"
                id=""
                style="">
                <div class="bg-blue__gradient p-6 rounded-lg hidden lg:block">
                  <div class="">
                    <div>
                      <h3 class="text-xl md:text-2xl lg:text-3xl">{{ section.settings.step_title_2 }}</h3>
                    </div>
                    <div>
                      <div>
                        <label for="name" class="text-xs uppercase">{{ section.settings.step_label_2 }}</label>
                      </div>
                      <div class="flex justify-between py-2">
                        <input
                          type="text"
                          class="name bg-transparent text-white border-white product__form-input w-full placeholder:uppercase placeholder:text-white placeholder:opacity-75 rounded px-3 py-1"
                          id=""
                          name="properties[Name]"
                          placeholder="Enter your name">
                      </div>
                    </div>
                  </div>
                  {% comment %} <div class="mt-8">
                  <h3 class="text-xl md:text-2xl lg:text-3xl">{{ section.settings.step_title_3 }}</h3>
                  </div> {% endcomment %}
                  <div class="hidden lg:block">
                    <div>
                      <label for="profile-picture" class="text-xs uppercase">{{ section.settings.step_label_3 }}</label>
                    </div>
                    <div class="flex justify-between py-4 bordered border-dashed border-white border-2 relative h-24 mt-2 rounded cursor-pointer">
                      <div class="absolute flex items-center top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 cursor-pointer">
                        <div class="text-white">
                          {% render 'icon-upload-image' %}
                        </div>
                        <div class="ml-2">
                          <p class="text-gray-300">Drop here</p>
                        </div>
                      </div>
                      <input
                        type="file"
                        id="profile-picture"
                        name="properties[Profile picture]"
                        class="w-full h-full opacity-0"
                        accept="image/*" />
                    </div>
                    <div class="flex justify-center flex-col gap-y-4 mt-4">
                      <div class="flex items-center">
                        <div class="text-white">
                          {% render 'icon-info' %}
                        </div>
                        <div class="ml-1">
                          <p class="text-xs">{{ section.settings.step_tooltip_3 }}</p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </section>
              <!-- Product name/picture end -->

              <!-- Product profile start -->
              <section
                id=""
                style=""
                class="section_card_picture_position hidden">
                <div class="bg-blue__gradient p-6 rounded-lg mt-4 hidden lg:block">
                  <div class="">
                    <h3 class="text-xl md:text-2xl lg:text-3xl">{{ section.settings.step_title_4 }}</h3>
                  </div>
                  <div>
                    <div class="flex justify-between py-4">
                      <input
                        type="text"
                        class="bg-transparent text-white border-white product__form-input w-full rounded-full px-3 py-1 placeholder:text-white placeholder:opacity-75"
                        id="search_for_player_position"
                        placeholder="Search position">
                    </div>
                  </div>
                  <div>
                    <div class="tabs">
                      <ul class="flex justify-start gap-x-6 sm:gap-x-12">
                        <li class="tab-item text-white opacity-50 underline-animation active" data-attr="defence">
                          <a href="javascript:void(0)" class="uppercase text-sm md:text-base">DEFENCE</a>
                        </li>
                        <li class="tab-item text-white opacity-50 underline-animation" data-attr="midfield">
                          <a href="javascript:void(0)" class="uppercase text-sm md:text-base">MIDFIELD</a>
                        </li>
                        <li class="tab-item text-white opacity-50 underline-animation" data-attr="attack">
                          <a href="javascript:void(0)" class="uppercase text-sm md:text-base">ATTACK</a>
                        </li>
                        <li class="tab-item text-white opacity-50 underline-animation" data-attr="custom">
                          <a href="javascript:void(0)" class="uppercase text-sm md:text-base">CUSTOM</a>
                        </li>
                      </ul>
                      {% render 'player-position' %}
                    </div>
                  </div>
                </div>
              </section>
              <!-- Product profile end -->

              <!-- Product choose club start -->
              <section
                id=""
                style=""
                class="section_card_club_country hidden">
                <div class="bg-blue__gradient p-6 rounded-lg">
                  <div class="">
                    <h3 class="text-xl md:text-2xl lg:text-3xl">{{ section.settings.step_title_5 }}</h3>
                  </div>
                  <div>
                    <div class="flex justify-between py-4">
                      <input
                        type="text"
                        class="search_for_club bg-transparent text-white border-white product__form-input w-full rounded-full px-3 py-1 placeholder:text-white placeholder:opacity-75"
                        placeholder="Search club name">
                    </div>
                  </div>
                  <div>
                    {% render 'league-options' %}
                  </div>
                </div>

              </section>
              <!-- Product choose club end -->

              <!-- Product choose country start -->
              <section
                id=""
                style=""
                class="section_card_club_country hidden">
                <div class="bg-blue__gradient p-6 rounded-lg mt-4 ">
                  <div class="">
                    <h3 class="text-xl md:text-2xl lg:text-3xl">{{ section.settings.step_title_6 }}</h3>
                  </div>
                  <div>
                    <div class="flex justify-between py-4">
                      <input
                        type="text"
                        class="search_for_country bg-transparent text-white border-white product__form-input w-full rounded-full px-3 py-1 placeholder:text-white placeholder:opacity-75"
                        placeholder="Search country">
                    </div>
                  </div>
                  {% render 'country-options' %}
                </div>
              </section>
              <!-- Product choose country end -->

              <!-- Product stats start -->
              <section
                id=""
                style=""
                class="section_card_stats hidden">
                <div class="bg-blue__gradient p-6 rounded-lg mt-4">
                  <div class="flex justify-between">
                    <div>
                      <h3 class="text-xl md:text-2xl lg:text-3xl">{{ section.settings.step_title_7 }}</h3>
                    </div>
                    <div>
                      <button
                        type="button"
                        class="randomise_btn bg-white flex items-center px-4 py-2 rounded-full transition duration-300 hover:opacity-80 disabled:opacity-50"
                        onclick="randomiseStats()"
                        disabled>
                        <span>
                          {% render 'icon-randomise' %}
                        </span>
                        <p class="text-gray-900 ml-6 mr-6">
                          {{ section.settings.step_button_7 }}
                        </p>
                      </button>
                    </div>
                  </div>
                  {% render 'product-page-stats-step' %}
                  <label class="checkbox__container flex items-center mt-4">
                    <div>
                      <p class="opacity-75 font-light text-sm">
                        {{ section.settings.confirm_submit }}
                      </p>
                    </div>
                    <div>
                      <input
                        type="checkbox"
                        name='properties[User confirmation]'
                        required>
                      <span class="checkmark"></span>
                    </div>
                  </label>

                  <button
                    type="button"
                    onclick="saveCanvas()"
                    class="add_to_cart_first_step bg-white w-full rounded-full font-medium mt-2 py-2 duration-300 hover:opacity-75 tab-item active"
                    data-tab="tab-2"
                    style="color:var(--blue-text)">
                    {{ section.settings.add_to_cart }}</button>
                </div>

              </section>
              <!-- Product stats end -->

              <br> <input
                type="text"
                name="properties[Player position]"
                placeholder="Player position"
                class="hidden"> <input
                type="file"
                name="properties[Generated picture]"
                id="generated-picture"
                placeholder="Player position"
                class="hidden">
              <input
                type="url"
                name="properties[Flag]"
                id="form_flag"
                class="hidden">
              <input
                type="url"
                name="properties[Badge]"
                id="form_badge"
                class="hidden">
            </div>
            <!-- Product right side end ( PRODUCT FORM ) -->

          </div>
          <!-- Product options end -->

        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="tab-2">
    <div class="flex justify-center align-center relative">
      <div class="container">
        {% render 'additional-options', products: collection.products %}
      </div>
    </div>
  </div>
  <div
    class="w-full fixed bottom-0 py-4 lg:py-6 flex justify-center items-center z-50 container rounded-t-2xl mx-auto left-1/2 -translate-x-1/2"
    style="background: linear-gradient(29.11deg, #303741 0%, #424B57 100%);"
    id="progress-wrapper">
    <div class="container flex items-center flex-col lg:flex-row justify-center gap-x-6 gap-y-6 px-4 sm:px-8 md:px-20">
      <button
        type="button"
        data-type="back"
        class="bg-gray-500 rounded-full py-2 px-12 text-white font-medium duration-300 hover:opacity-75 hidden lg:flex gap-x-2 justify-center items-center changeSection">
        <span>
          {% render 'return-icon' %}
        </span>
        <span>
          Return
        </span>
      </button>
      <div class="shadow w-full bg-gray-300 h-2">
        <div
          class="bg-blue__gradient text-xs leading-none h-full text-center text-white flex items-center justify-end relative"
          style="width: 30%"
          id="step_progress">
          <div class="absolute lg:-top-6 bg-gray-400 px-4 py-1 rounded-full" id="step_progress_title">14%</div>
        </div>
      </div>
      <div class="flex justify-between w-full lg:w-auto">
        <button
          type="button"
          data-type="back"
          class="bg-gray-500 rounded-full py-1 px-8 text-white font-medium duration-300 hover:opacity-75 flex lg:hidden gap-x-2 justify-center items-center changeSection">
          <span>
            {% render 'return-icon' %}
          </span>
          <span>
            Return
          </span>
        </button>
        <button
          type="button"
          data-type="next"
          class="bg-blue__gradient rounded-full py-2 px-12 text-white font-medium duration-300 hover:opacity-75 flex gap-x-2 justify-center items-center changeSection">
          <span>
            Next
          </span>
          <span>
            {% render 'icon-arrow-right-rounded' %}
          </span>
        </button>
      </div>
    </div>
  </div>
{% endform %}
{% comment %} <div class="tab-group">
<div class="tab-list">
<button class="tab_item active" data-tab="tab-1">Tab 1</button>
<button class="tab_item" data-tab="tab-2">Tab 2</button>
</div>
<div class="tab-content">
<div class="tab-pane active" id="tab-1">Content for Tab 1</div>
<div class="tab-pane" id="tab-2">Content for Tab 2</div>
</div>
</div> {% endcomment %}
{% render 'add-modal-success' %}
<div class="fixed top-2 left-0 right-0 mx-auto flex justify-center z-30">
  {% render 'error-notification' %}
</div>
<img style="display:none" id="hidden_flag_img">
<img style="display:none" id="hidden_badge_img">


{% schema %}
  {
    "name": "Product Page",
    "settings": [
      {
        "type": "text",
        "id": "confirm_submit",
        "default": "I confirm I have reviewed and am happy the image provided is suitable and I have all relevant permissions to use the images provided.",
        "label": "Confirm Checkbox"
      },
      {
        "type": "text",
        "id": "add_to_cart",
        "default": "Add to Cart",
        "label": "Add to Cart"
      },
      {
        "type": "text",
        "id": "submit_button",
        "default": "Add to Cart",
        "label": "Submit Button"
      },
      {
        "type": "text",
        "id": "back_to_product",
        "default": "Back",
        "label": "Back to Product"
      }, {
        "type": "text",
        "id": "warning_error",
        "default": "Complete all fields!",
        "label": "Error Message"
      }, {
        "type": "text",
        "id": "step_title_1",
        "default": "1. Card Size",
        "label": "1 Step Title"
      }, {
        "type": "text",
        "id": "step_label_1",
        "default": "SELECT THE SIZE OF YOUR PERSONAL CARD",
        "label": "1 Step Label"
      }, {
        "type": "text",
        "id": "step_1_tooltip",
        "default": "Size Guide",
        "label": "1 Step Tooltip"
      }, {
        "type": "text",
        "id": "step_title_2",
        "default": "2. Profile",
        "label": "2 Step Title"
      }, {
        "type": "text",
        "id": "step_label_2",
        "default": "Name",
        "label": "2 Step Label"
      }, {
        "type": "text",
        "id": "step_title_3",
        "default": "3. Upload Picture",
        "label": "3 Step Title"
      }, {
        "type": "text",
        "id": "step_label_3",
        "default": "Choose an image from your phone or computer",
        "label": "3 Step Label"
      }, {
        "type": "text",
        "id": "step_tooltip_3",
        "default": "If necessary the background of the image will be removed by our design team.",
        "label": "3 Step Tooltip"
      }, {
        "type": "text",
        "id": "step_title_4",
        "default": "4. Position",
        "label": "4 Step Title"
      }, {
        "type": "text",
        "id": "step_title_5",
        "default": "5. Choose club",
        "label": "5 Step Title"
      }, {
        "type": "text",
        "id": "step_title_6",
        "default": "6. Choose Country",
        "label": "6 Step Title"
      }, {
        "type": "text",
        "id": "step_title_7",
        "default": "7. Choose Stats",
        "label": "7 Step Title"
      }, {
        "type": "text",
        "id": "step_button_7",
        "default": "Randomise",
        "label": "7 Step Button Randomise Title"
      }, {
        "type": "text",
        "id": "guide_1",
        "default": "Easy to personalise",
        "label": "Guide 1"
      }, {
        "type": "text",
        "id": "guide_2",
        "default": "All photo edits done for you",
        "label": "Guide 2"
      }, {
        "type": "text",
        "id": "guide_3",
        "default": "Unique footballs surprise",
        "label": "Guide 3"
      }, {
        "type": "text",
        "id": "guide_4",
        "default": "Incredible print quality",
        "label": "Guide 4"
      }, {
        "type": "text",
        "id": "guide_5",
        "default": "Easy to wall hang",
        "label": "Guide 5"
      }, {
        "type": "text",
        "id": "guide_6",
        "default": "Ultra strong materials",
        "label": "Guide 6"
      }
    ]
  }
{% endschema %}

<script>
  $("#info-product-icon").on({
    mouseenter: function() {
      $('#info-product-tooltip').css({'opacity': 1, 'visibility': 'visible'});
    },
    mouseleave: function() {
      $('#info-product-tooltip').css({'opacity': 0, 'visibility': 'hidden'});
    }
  });
</script>

<script>
  $(document).ready(function() {
    getCountries()
    getLeaguesData();
  });
</script>


<script>
  $(document).ready(function() {
    $(".tab_item").click(function() {
      $(".tab_item").removeClass("activee");
      $(this).addClass("activee");
      $(".tab-pane").removeClass("activee");
      $("#" + $(this).attr("data-tab")).addClass("activee");
    });
  });
</script>