<style>
  .blog__title {
    font-weight: 500 !important;
    font-style: normal;
  }

  .blog__page-background {
    background-image: linear-gradient(180deg, #0F1521 0%, rgba(15, 21, 33, 0.479167) 43.96%, #303741 100%), url('{{ 'blog_background.png' | asset_url }}');
    width: 100%;
    height: auto;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  }
</style>

<div class="flex justify-center align-center">
  <div class="container px-6 sm:px-0 py-24 mt-4 lg:mt-16">
    <div class="flex flex-col">
      <div class="w-full text-center">
        <h1 class="text-3xl sm:text-5xl lg:text-6xl uppercase">
          {{ blog.title }}
        </h1>
      </div>
      <div>
        {% paginate blog.articles by section.settings.number_of_blog_posts %}
          <div class="mx-auto mt-12">
            <div class="grid xl:grid-rows-4 xl:grid-flow-col gap-x-40 gap-y-8 xl:gap-y-4">
              {% for article in blog.articles %}
                {% if forloop.index == 1 %}

                  <!-- left side start -->
                  <div class="row-span-3 col-span-2">
                    <div class="w-full h-full border-r-2 border-gray-800">
                      {% if article.image %}
                        <a href="{{ article.url }}">
                          <img
                            class="object-cover w-full h-full 2xl:pr-32"
                            src="{{ article.image | img_url: 'medium' }}"
                            alt="{{ article.image.alt }}">

                        </a>
                      {% else %}
                        {{ 'image' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100 2xl:pr-32' }}
                      {% endif %}
                    </div>
                  </div>

                  <div class="row-span-1 col-span-2">
                    <div>
                      <a href="{{ article.url }}" class="font-medium hover: text-gray-500 block">{{ section.settings.blog_read_more }}</a>
                      <h1 class="text-3xl font-medium text-white blog__title 2xl:pr-32 mt-4">{{ article.title }}</h1>
                      {% if article.excerpt.size > 0 %}
                        <p class="text-zinc-500 font-light text-xl 2xl:pr-32">{{ article.excerpt | strip_html | truncatewords: 30 }}</p>
                      {% else %}
                        <p class="text-zinc-500 font-light text-xl 2xl:pr-32">{{ article.content | strip_html | truncatewords: 30 }}</p>
                      {% endif %}
                    </div>
                  </div>
                  <!-- left side end -->

                {% else %}

                  <!-- right side start -->
                  <div class="row-span-1 col-span-2 flex max-h-36 {% if forloop.index == 2 %} mt-16 xl:mt-0 {% endif %}">
                    <div class="w-full xl:w-5/12 xl:h-full">
                      {% if article.image %}
                        <a href="{{ article.url }}">
                          <img
                            class="w-full h-full object-cover"
                            src="{{ article.image | img_url: 'medium' }}"
                            alt="{{ article.image.alt }}">
                        </a>
                      {% else %}
                        {{ 'image' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
                      {% endif %}
                    </div>
                    <div class="ml-4 lg:ml-8 w-full lg:w-7/12">
                      <h1 class="text-xs sm:text-base md:text-lg lg:text-2xl font-medium text-white blog__title">{{ article.title }}</h1>
                      <a href="{{ article.url }}" class="text-xs sm:text-base font-medium hover: text-gray-500 my-2 xl:my-4 block">{{ section.settings.blog_read_more }}</a>
                    </div>
                  </div>
                  <!-- right side end -->

                {% endif %}
              {% endfor %}
            </div>
          </div>

          <div class="max-w-6xl mx-auto">
            {% render 'pagination', pagination: paginate %}
          </div>

        {% endpaginate %}
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Blog",
    "settings": [
      {
        "type": "text",
        "id": "blog_read_more",
        "label": "Read more label",
        "default": "Read more"
      }, {
        "type": "range",
        "id": "number_of_blog_posts",
        "step": 1,
        "min": 1,
        "max": 6,
        "label": "Blog posts per page",
        "default": 5
      }
    ]
  }
{% endschema %}