{% assign selected_variant = product.selected_or_first_available_variant %}

<style>
  .product--information {
    height: fit-content;
  }
  textarea:focus,
  input:focus {
    outline: none;
    background: transparent;
  }

  .product__form-input {
    border: 1px solid white;
  }
  .product__page-background {
    background-image: linear-gradient(180deg, #0F1521 0%, rgba(15, 21, 33, 0.479167) 43.96%, #303741 100%);
  }

  .active__variant {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
  }

  .active {
    opacity: 1 !important;
    {% comment %}
      text-decoration: underline;
    {% endcomment %}
    {% comment %}
      text-underline-offset: 5px;
    {% endcomment %}
    {% comment %}
      transition: 0.5s;
    {% endcomment %}
    border-bottom: 2px solid white !important;
  }
  .underline-animation {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-out, border-bottom-left-radius 0.3s ease-out;
  }

  .underline-animation:hover,
  .underline-animation:focus {
    border-bottom: 2px solid white;
    border-bottom-left-radius: 0;
  }

  .animate-card-on-fixed {
    transition: transform 0.75s ease-out;
    transform: translateY(20px);
  }
</style>


<div class="flex justify-center align-center relative">
  <div class="container">
    <div class="flex flex-col my-12 sm:my-36">

      <!-- Product title start -->
      <div class="w-2/3">
        <h1 class="text-3xl sm:text-5xl lg:text-6xl uppercase">{{ product.title }}</h1>
        <p class="font-light">{{ product.description }}</p>
      </div>
      <!-- Product title end -->

      <!-- Product options start -->
      <div class="w-full grid grid-cols-1 lg:grid-cols-2 justify-items-center mt-8 sm:mt-16">

        <!-- Product left side start -->
        <div class="w-full flex justify-center">
          <div id="canvas__container">
            {% comment %} <canvas
            id="myCanvas"
            width="600"
            height="600"
            id="fixed__product"
            crossOrigin="anonymous"></canvas> {% endcomment %}
            <img
              class="object-cover hidden"
              src="{{ product.featured_image | img_url: 'large' }}"
              alt="{{ product.featured_image.alt }}"
              id="featured__image"
              crossorigin="Anonymous">
          </div>
        </div>
        <!-- Product left side end -->

        <!-- Product right side start ( PRODUCT FORM ) -->
        <div class="w-full h-full flex flex-col">
          {% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}
            <input type="hidden"
              name="id"
              id="variant__id"
              value="{{ selected_variant.id }}">

            <!-- Product size start -->
            <div class="bg-blue__gradient p-6 rounded-lg">
              <div class="">
                <h3 class="text-3xl">1. Card Size</h3>
              </div>
              <div>
                <div>
                  <label for="" class="uppercase text-xs">SELECT THE SIZE OF YOUR PERSONAL CARD</label>

                  <!-- Current price start -->
                  <div class="my-3" id="price-{{ section.id }}">
                    <span class="text-base text-gray-500 line-through">{{ selected_variant.compare_at_price | money }}</span>
                    <span class="text-lg text-white">{{ selected_variant.price | money }}</span>

                    {% if selected_variant.price < selected_variant.compare_at_price %}
                      <span class="px-5 py-1 text-sm font-bold bg-red-500 rounded-full text-white mx-4">Sale</span>
                    {% endif %}
                  </div>
                  <!-- Current price end -->

                </div>
                <div class="grid grid-cols-2 gap-y-4 gap-x-4 xl:grid-cols-4 place-items-center py-4">
                  {% for item in product.variants %}
                    <a
                      href="javascript:void(0)"
                      onclick="updateForm('{{item.id}}', '{{ item.price | money }}')"
                      id="selected__variant_id-{{item.id}}"
                      class="">
                      <div class="relative">
                        <p class="font-family-kufam absolute italic font-black text-gray-500 right-0 mr-2">{{ item.price | money }}</p>
                        <p class="font-family-kufam absolute bottom-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-gray-500 text-sm">{{ item.title }}</p>
                        <img
                          src="{{ item.featured_image.src | img_url: 'large' }}"
                          alt=""
                          class="object-cover">
                      </div>
                    </a>
                  {% endfor %}
                </div>
                <div class="flex items-center">
                  <div class="text-white">
                    {% render 'icon-info' %}
                  </div>
                  <div class="ml-1">
                    <p class="text-xs">Size Guide</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product size end -->

            <!-- Product name/picture start -->
            <div class="bg-blue__gradient p-6 rounded-lg mt-12">
              <div class="">
                <h3 class="text-3xl">2. Profile</h3>
              </div>
              <div>
                <div>
                  <label for="name" class="text-xs uppercase">Name</label>
                </div>
                <div class="flex justify-between py-4">
                  <input
                    type="text"
                    class="bg-transparent text-white border-white product__form-input w-full placeholder:uppercase rounded px-3 py-1"
                    id="name"
                    name="properties[name]"
                    placeholder="Enter your name">
                </div>
              </div>
              <div class="mt-16">
                <h3 class="text-3xl">3. Upload Picture</h3>
              </div>
              <div>
                <div>
                  <label for="profile-picture" class="text-xs uppercase">Choose an image from your phone or computer</label>
                </div>
                <div class="flex justify-between py-4 bordered border-dashed border-white border-2 relative h-64 mt-2 rounded cursor-pointer">
                  <div class="absolute flex items-center top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 cursor-pointer">
                    <div class="text-white">
                      {% render 'icon-upload-image' %}
                    </div>
                    <div class="ml-2">
                      <p class="text-gray-300">Drop here</p>
                    </div>
                  </div>
                  <input
                    type="file"
                    id="profile-picture"
                    name="properties[profile-picture]"
                    class="w-full h-full opacity-0"
                    accept="image/*"
                    onchange="previewImage(event);" />
                </div>
                <div class="flex items-center mt-4">
                  <div class="text-white">
                    {% render 'icon-info' %}
                  </div>
                  <div class="ml-1">
                    <p class="text-xs">If necessary the background of the image will be removed by our design team.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product name/picture end -->

            <!-- Product profile start -->
            <div class="bg-blue__gradient p-6 rounded-lg mt-12">
              <div class="">
                <h3 class="text-3xl">4. Position</h3>
              </div>
              <div>
                <div class="flex justify-between py-4">
                  <input
                    type="text"
                    class="bg-transparent text-white border-white product__form-input w-full rounded-full px-3 py-1"
                    id="name"
                    placeholder="Search position">
                </div>
              </div>
              <div>
                <div class="tabs">
                  <ul class="flex justify-start gap-x-12">
                    <li class="tab-item text-white opacity-50 underline-animation active" data-attr="defence">
                      <a href="javascript:void(0)" class="uppercase">DEFENCE</a>
                    </li>
                    <li class="tab-item text-white opacity-50 underline-animation" data-attr="midfield">
                      <a href="javascript:void(0)" class="uppercase">MIDFIELD</a>
                    </li>
                    <li class="tab-item text-white opacity-50 underline-animation" data-attr="attack">
                      <a href="javascript:void(0)" class="uppercase">ATTACK</a>
                    </li>
                    <li class="tab-item text-white opacity-50 underline-animation" data-attr="custom">
                      <a href="javascript:void(0)" class="uppercase">CUSTOM</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="defence">
                    <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora, nisi.</div>
                  </div>
                  <div class="tab-content hidden" id="midfield">
                    <div>Lorem ipsum dolor sit amet.</div>
                  </div>
                  <div class="tab-content hidden" id="attack">
                    <div>Lorem, ipsum dolor.</div>
                  </div>
                  <div class="tab-content hidden" id="custom">
                    <div>Custom</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product profile end -->

            <button type="submit" class="">Click</button>
          {% endform %}
        </div>
        <!-- Product right side end ( PRODUCT FORM ) -->

      </div>
      <!-- Product options end -->

    </div>
  </div>
</div>

<script>
  let canvas = null;
  (function() {
    if ($('#profile-picture').val() == '' || $('#profile-picture').val() == undefined || $('#profile-picture').val() == null) {}
  })();

  console.log({{ product.variants | json }})
  console.log({{ product.media | json }})


  $(document).ready(function() {

    let cnv = document.createElement('canvas');
    cnv.width = 600;
    cnv.height = 600;
    cnv.id = 'fixed__product';
    cnv.crossOrigin = 'anonymous';
    $('#canvas__container').append(cnv);
    canvas = new fabric.Canvas('fixed__product', {selection: false});
    canvas.setBackgroundColor('red');
    addImage()

  });
  $('.tab-item').click(function() {
    let id = $(this).attr('data-attr')
    console.log($(this).attr('data-attr'));
    $('.tab-item').removeClass('active');
    $(this).addClass('active');
    $('.tab-content').addClass('hidden');
    $('#' + id).removeClass('hidden');
  });


  function addImage() {
    let imageUrl = $('#featured__image').prop('src')
    imageUrl.crossOrigin = 'anonymous';
    imageUrl.crossOrigin = 'use-credentials';
    fabric.Image.fromURL(imageUrl, function(img) {
      let center = canvas.getCenter();
      img.set({left: center.left, top: center.top});
      canvas.add(img);
    });

  }

  function editName(name) {
    console.log(name)
    var text = new fabric.Text(name, {
      left: 10,
      top: 10
    });
    canvas.remove(canvas.item(1));
    canvas.add(text);
    saveCanvas()
  }


  function editDescription(description) {
    var text = new fabric.Text(description, {
      left: 10,
      top: 30
    });

// console.log(canvas.item(2))
    canvas.remove(canvas.item(2)); // remove the previous description
    canvas.add(text); // add the new description
  }function removeName() {
    canvas.clear();
  }

  function saveCanvas() {

// generate a data URL for the image
    console.log('good')
    let dataUrl = canvas.toDataURL({allowTaint: true});

// create a Blob object from the data URL
    let file = dataURLtoBlob(dataUrl);

// create a file using the Blob object and the desired file name
    file.name = 'image.png';

// set the file as the value of the input element

    $('#profile-picture').val(file)
  }

  function dataURLtoBlob(dataUrl) {

// convert the data URL to a byte string
    var byteString = atob(dataUrl.split(',')[1]);

// create an array of 8-bit integers from the byte string
    var intArray = new Uint8Array(byteString.length);
    for (var i = 0; i < byteString.length; i++) {
      intArray[i] = byteString.charCodeAt(i);
    }

// create a Blob object from the array of 8-bit integers
    return new Blob([intArray], {type: 'image/png'});
  }


  function makeNameDraggable() {
    var text = new fabric.Text('Name', {
      left: 10,
      top: 10,
      selectable: true,
      evented: true
    });
    canvas.add(text);
  }

// Function to fix card on scroll
  $(function() {
    $(window).scroll(function() {
      let pageWidth = $(window).width();
      if (pageWidth > 1024) {
        if ($(this).scrollTop() >= 350) {
          $('#fixed__product').addClass('fixed')
          $('#fixed__product').addClass('top-0')
          $('#fixed__product').addClass('animate-card-on-fixed')
        } else if ($(this).scrollTop() < 350) {
          $('#fixed__product').removeClass('fixed')
          $('#fixed__product').removeClass('top-0')
          $('#fixed__product').removeClass('animate-card-on-fixed')
        }
      }
    });
  });

// Function to set active variant in hidden input
  function updateForm(id, price) {
    console.log(id, price);
    $('#variant__id').val(id)
    $('.active__variant').removeClass('active__variant')
    $('#selected__variant_id-' + id).addClass('active__variant')
  }

// event for changing profile name 
  $('#name').on('keyup', function() {
    let name = this.value;
    if (name.length === 0) {
      editName('');
    } else {
      editName(name);
    }
  })

// event for changing profile name on image
  $('#img__name').on('keyup', function() {
    $('#name').val($(this).val())
  })
</script>