{% assign selected_variant = product.selected_or_first_available_variant %}

<style>
  .product--information {
    height: fit-content;
  }
  textarea:focus,
  input:focus {
    outline: none;
    background: transparent;
  }

  .product__form-input {
    border: 1px solid white;
  }
  .product__page-background {
    background-image: linear-gradient(180deg, #0F1521 0%, rgba(15, 21, 33, 0.479167) 43.96%, #303741 100%);
  }

  .active__variant {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
  }

  .active {
    opacity: 1 !important;
    border-bottom: 2px solid white !important;
  }
  .underline-animation {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-out, border-bottom-left-radius 0.3s ease-out;
  }

  .underline-animation:hover,
  .underline-animation:focus {
    border-bottom: 2px solid white;
    border-bottom-left-radius: 0;
  }

  .animate-card-on-fixed {
    transition: transform 0.75s ease-out;
    transform: translateY(20px);
  }


  .custom-radio {
    position: relative;
    display: inline-block;
  }

  .custom-radio input[type="radio"] {
    position: absolute;
    left: -9999px;
  }

  .custom-radio .radio-button {
    width: 75px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    content: "";
    opacity: 0.5;
    transition: 0.35s;
    cursor: pointer;
  }

  .custom-radio input[type="radio"]:checked + .radio-button {
    background-color: rgb(255, 255, 255);
    opacity: 1;
    color: var(--blue-text) !important;
  }
  .custom-radio input[type="radio"]:checked + .radio-button p {
    color: var(--blue-text) !important;
  }
</style>


<div class="flex justify-center align-center relative">
  <div class="container">
    <div class="flex flex-col my-12 sm:my-36">

      <!-- Product title start -->
      <div class="w-2/3">
        <h1 class="text-3xl sm:text-5xl lg:text-6xl uppercase">{{ product.title }}</h1>
        <p class="font-light">{{ product.description }}</p>
      </div>
      <!-- Product title end -->

      <!-- Product options start -->
      <div class="w-full grid grid-cols-1 lg:grid-cols-2 justify-items-center mt-8 sm:mt-16">

        <!-- Product left side start -->
        <div class="w-full flex justify-center">
          <div id="fixed__product">
            <input
              class="absolute translate-y-64 translate-x-14 mt-6 bg-transparent text-white text-center placeholder:text-white placeholder:opacity-75"
              type="text"
              id="img__name"
              placeholder="Enter your name">
            <div class="absolute object-contain w-32 h-32 translate-y-36 translate-x-32 bordered border-white border-2 border-dashed">
              <img id="preview-selected-image" class="object-cover" />
            </div>
            <div class="absolute translate-y-24 translate-x-14 mt-6 text-white">
              <p class="uppercase" id="img__position"></p>
            </div>
            <div class="absolute translate-y-72 translate-x-14 mt-8 text-white grid grid-cols-2 gap-x-12">
              <div class="grid grid-cols-2 gap-2 min-w-max">
                <p class="uppercase min-w-max" id="position_number_property_1"></p>
                <p class="uppercase min-w-max" id="position_property_1"></p>
              </div>
              <div class="grid grid-cols-2 gap-2 min-w-max">
                <p class="uppercase min-w-max" id="position_number_property_2"></p>
                <p class="uppercase min-w-max" id="position_property_2"></p>
              </div>
              <div class="grid grid-cols-2 gap-2 min-w-max">
                <p class="uppercase min-w-max" id="position_number_property_3"></p>
                <p class="uppercase min-w-max" id="position_property_3"></p>
              </div>
              <div class="grid grid-cols-2 gap-2 min-w-max">
                <p class="uppercase min-w-max" id="position_number_property_4"></p>
                <p class="uppercase min-w-max" id="position_property_4"></p>
              </div>
              <div class="grid grid-cols-2 gap-2 min-w-max">
                <p class="uppercase min-w-max" id="position_number_property_5"></p>
                <p class="uppercase min-w-max" id="position_property_5"></p>
              </div>
              <div class="grid grid-cols-2 gap-2 min-w-max">
                <p class="uppercase min-w-max" id="position_number_property_6"></p>
                <p class="uppercase min-w-max" id="position_property_6"></p>
              </div>
            </div>
            <img
              class="object-cover"
              src="{{ product.featured_image | img_url: 'large' }}"
              alt="{{ product.featured_image.alt }}">
          </div>
        </div>
        <!-- Product left side end -->

        <!-- Product right side start ( PRODUCT FORM ) -->
        <div class="w-full h-full flex flex-col">
          {% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}
            <input type="hidden"
              name="id"
              id="variant__id"
              value="{{ selected_variant.id }}">

            <!-- Product size start -->
            <div class="bg-blue__gradient p-6 rounded-lg">
              <div class="">
                <h3 class="text-3xl">1. Card Size</h3>
              </div>
              <div>
                <div>
                  <label for="" class="uppercase text-xs">SELECT THE SIZE OF YOUR PERSONAL CARD</label>

                  <!-- Current price start -->
                  <div class="my-3" id="price-{{ section.id }}">
                    <span class="text-base text-gray-500 line-through">{{ selected_variant.compare_at_price | money }}</span>
                    <span class="text-lg text-white">{{ selected_variant.price | money }}</span>

                    {% if selected_variant.price < selected_variant.compare_at_price %}
                      <span class="px-5 py-1 text-sm font-bold bg-red-500 rounded-full text-white mx-4">Sale</span>
                    {% endif %}
                  </div>
                  <!-- Current price end -->

                </div>
                <div class="grid grid-cols-2 gap-y-4 gap-x-4 xl:grid-cols-4 place-items-center py-4">
                  {% for item in product.variants %}
                    <a
                      href="javascript:void(0)"
                      onclick="updateForm('{{item.id}}', '{{ item.price | money }}')"
                      id="selected__variant_id-{{item.id}}"
                      class="">
                      <div class="relative">
                        <p class="font-family-kufam absolute italic font-black text-gray-500 right-0 mr-2">{{ item.price | money }}</p>
                        <p class="font-family-kufam absolute bottom-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-gray-500 text-sm">{{ item.title }}</p>
                        <img
                          src="{{ item.featured_image.src | img_url: 'large' }}"
                          alt=""
                          class="object-cover">
                      </div>
                    </a>
                  {% endfor %}
                </div>
                <div class="flex items-center">
                  <div class="text-white">
                    {% render 'icon-info' %}
                  </div>
                  <div class="ml-1">
                    <p class="text-xs">Size Guide</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product size end -->

            <!-- Product name/picture start -->
            <div class="bg-blue__gradient p-6 rounded-lg mt-12">
              <div class="">
                <h3 class="text-3xl">2. Profile</h3>
              </div>
              <div>
                <div>
                  <label for="name" class="text-xs uppercase">Name</label>
                </div>
                <div class="flex justify-between py-4">
                  <input
                    type="text"
                    class="bg-transparent text-white border-white product__form-input w-full placeholder:uppercase placeholder:text-white placeholder:opacity-75 rounded px-3 py-1"
                    id="name"
                    name="properties[name]"
                    placeholder="Enter your name">
                </div>
              </div>
              <div class="mt-16">
                <h3 class="text-3xl">3. Upload Picture</h3>
              </div>
              <div>
                <div>
                  <label for="profile-picture" class="text-xs uppercase">Choose an image from your phone or computer</label>
                </div>
                <div class="flex justify-between py-4 bordered border-dashed border-white border-2 relative h-64 mt-2 rounded cursor-pointer">
                  <div class="absolute flex items-center top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 cursor-pointer">
                    <div class="text-white">
                      {% render 'icon-upload-image' %}
                    </div>
                    <div class="ml-2">
                      <p class="text-gray-300">Drop here</p>
                    </div>
                  </div>
                  <input
                    type="file"
                    id="profile-picture"
                    name="properties[profile-picture]"
                    class="w-full h-full opacity-0"
                    accept="image/*"
                    onchange="previewImage(event);" />
                </div>
                <div class="flex items-center mt-4">
                  <div class="text-white">
                    {% render 'icon-info' %}
                  </div>
                  <div class="ml-1">
                    <p class="text-xs">If necessary the background of the image will be removed by our design team.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product name/picture end -->

            <!-- Product profile start -->
            <div class="bg-blue__gradient p-6 rounded-lg mt-12">
              <div class="">
                <h3 class="text-3xl">4. Position</h3>
              </div>
              <div>
                <div class="flex justify-between py-4">
                  <input
                    type="text"
                    class="bg-transparent text-white border-white product__form-input w-full rounded-full px-3 py-1 placeholder:text-white placeholder:opacity-75"
                    id="search_for_player_position"
                    placeholder="Search position">
                </div>
              </div>
              <div>
                <div class="tabs">
                  <ul class="flex justify-start gap-x-6 sm:gap-x-12">
                    <li class="tab-item text-white opacity-50 underline-animation active" data-attr="defence">
                      <a href="javascript:void(0)" class="uppercase">DEFENCE</a>
                    </li>
                    <li class="tab-item text-white opacity-50 underline-animation" data-attr="midfield">
                      <a href="javascript:void(0)" class="uppercase">MIDFIELD</a>
                    </li>
                    <li class="tab-item text-white opacity-50 underline-animation" data-attr="attack">
                      <a href="javascript:void(0)" class="uppercase">ATTACK</a>
                    </li>
                    <li class="tab-item text-white opacity-50 underline-animation" data-attr="custom">
                      <a href="javascript:void(0)" class="uppercase">CUSTOM</a>
                    </li>
                  </ul>
                  {% render 'player-position' %}
                </div>
              </div>
            </div>
            <!-- Product profile end -->



            <!-- Product stats start -->
            <div class="bg-blue__gradient p-6 rounded-lg mt-12">
              <div class="flex justify-between">
                <div>
                  <h3 class="text-3xl">7. Choose Stats</h3>
                </div>
                <div>
                  <button type="button" class="bg-white flex items-center px-4 py-2 rounded-full transition duration-300 hover:opacity-80 disabled:opacity-50" onclick="randomiseStats()" disabled id="randomise_btn">
                    <span>
                      {% render 'icon-randomise' %}
                    </span>
                    <p class="text-gray-900 ml-6 mr-6">
                      Randomise
                    </p>
                  </button>
                </div>
              </div>
              {% render 'product-page-stats-step' %}
            </div>
            <!-- Product stats end -->

            <button type="submit" class="">Submit</button><br>
            <input
              type="text"
              name="properties[player_position]"
              placeholder="Player position">
          {% endform %}
        </div>
        <!-- Product right side end ( PRODUCT FORM ) -->

      </div>
      <!-- Product options end -->

    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    console.log({{ product.variants | json }})
    console.log({{ product.media | json }})
  });
</script>