<style>
  #why_cards_flex {
    background: linear-gradient(222.29deg, #437FD8 -10.81%, #0D2E84 138.98%) fixed;
  }
  #vector__background-why_cardsflex {
    background: url('{{'why_cardsflex_vector.png' | asset_url}}') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 2;
  }
</style>
<div class="flex justify-center items-center my-8 sm:my-32 w-screen xl:h-screen relative py-10 xl:py-0" id="why_cards_flex">
  <div class="xl:h-screen w-full absolute bg-cover hidden sm:block" id="vector__background-why_cardsflex"></div>
  <div class="container z-10">
    <div class="flex flex-col w-full">
      <div class="w-full text-center md:text-start px-0 xl:pl-20 2xl:pl-28">
        <h1 class="text-3xl sm:text-5xl lg:text-6xl">WHY CARDSFLEX</h1>
      </div>
      <div class="w-full flex flex-col sm:flex-row justify-center align-center mt-4 sm:mt-16">
        <div class="w-full sm:w-1/2 flex flex-col justify-center items-center sm:items-center">
          <div class="flex items-center">
            <img
              src="{{ 'why_cardsflex.png' | asset_url }}"
              alt=""
              class="w-60 sm:w-96 md:w-11/12">
          </div>
        </div>
        <div class="w-full sm:w-1/2 flex flex-col justify-center items-center sm:items-start">
          <div class="flex flex-col gap-y-4 sm:gap-y-8">
            <div class="flex items-center sm:ml-4">
              <img
                src="{{ 'upload_why_cardsflex.png' | asset_url }}"
                class="w-11 h-11 md:w-16 md:h-16 mr-4"
                alt="">
              <p class="text-xl sm:text-2xl lg:text-3xl font-medium">Upload any picture</p>
            </div>
            <div class="flex items-center sm:ml-12">
              <img
                src="{{ 'upload_why_cardsflex.png' | asset_url }}"
                class="w-11 h-11 md:w-16 md:h-16 mr-4"
                alt="">
              <p class="text-xl sm:text-2xl lg:text-3xl font-medium">Worldwide shipping</p>
            </div>
            <div class="flex items-center sm:ml-16">
              <img
                src="{{ 'upload_why_cardsflex.png' | asset_url }}"
                class="w-11 h-11 md:w-16 md:h-16 mr-4"
                alt="">
              <p class="text-xl sm:text-2xl lg:text-3xl font-medium">Fully customizable</p>
            </div>
            <div class="flex items-center sm:ml-16">
              <img
                src="{{ 'upload_why_cardsflex.png' | asset_url }}"
                class="w-11 h-11 md:w-16 md:h-16 mr-4"
                alt="">
              <p class="text-xl sm:text-2xl lg:text-3xl font-medium">Easy wall hanging</p>
            </div>
            <div class="flex items-center sm:ml-12">
              <img
                src="{{ 'upload_why_cardsflex.png' | asset_url }}"
                class="w-11 h-11 md:w-16 md:h-16 mr-4"
                alt="">
              <p class="text-xl sm:text-2xl lg:text-3xl font-medium">Preview before printing</p>
            </div>

            <div class="flex items-center sm:ml-4">
              <img
                src="{{ 'upload_why_cardsflex.png' | asset_url }}"
                class="w-11 h-11 md:w-16 md:h-16 mr-4"
                alt="">
              <p class="text-xl sm:text-2xl lg:text-3xl font-medium">Unbreakable quality</p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-1/2 flex justify-center mt-8 sm:mt-0">
        <div class="flex items-center mt-8 md:mr-6">
          <button class="text-white text-base sm:text-2xl border border-white px-16 py-1 rounded-3xl hover:opacity-80 transition duration-350">Select your card</button>
        </div>
      </div>
    </div>
  </div>
</div>