<style>
  #why_cards_flex {
    background: linear-gradient(222.29deg, #437FD8 -10.81%, #0D2E84 138.98%) fixed;
  }
  #vector__background-why_cardsflex {
    background: url('{{'why_cardsflex_vector.png' | asset_url}}') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>
<div class="flex justify-center items-center my-24 w-screen h-screen relative" id="why_cards_flex">
  {% comment %} <div class="h-screen w-full absolute bg-cover" id="vector__background-why_cardsflex"></div> {% endcomment %}
  <div class="container z-10">
    <div class="flex flex-col w-full">
      <div class="w-full">
        <h1 class="text-6xl">WHY CARDSFLEX</h1>
      </div>
      <div class="w-full flex justify-center align-center py-14">
        <div class="w-1/2 flex flex-col justify-center">
          <div class="flex items-center">
            <img src="{{ 'why_cardsflex.png' | asset_url }}" alt="">
          </div>
          <div class="flex items-center mt-14">
            <button class="text-white border border-white px-12 py-1 rounded-3xl hover:opacity-80 transition duration-350">Select your card</button>
          </div>
        </div>
        <div class="w-1/2 flex flex-col justify-center items-center">
          <div class="flex flex-col gap-y-12">
            <div class="flex items-center">
              <img
                src="{{ 'upload_why_cardsflex.png' | asset_url }}"
                class="w-10 h-10 mr-4"
                alt="">
              <p>Upload any picture</p>
            </div>
            <div class="flex items-center ml-12">
              <img
                src="{{ 'upload_why_cardsflex.png' | asset_url }}"
                class="w-10 h-10 mr-4"
                alt="">
              <p>Worldwide shipping</p>
            </div>
            <div class="flex items-center ml-24">
              <img
                src="{{ 'upload_why_cardsflex.png' | asset_url }}"
                class="w-10 h-10 mr-4"
                alt="">
              <p>Fully cuustomizable</p>
            </div>
            <div class="flex items-center ml-24">
              <img
                src="{{ 'upload_why_cardsflex.png' | asset_url }}"
                class="w-10 h-10 mr-4"
                alt="">
              <p>Easy wall hanging</p>
            </div>
            <div class="flex items-center ml-12">
              <img
                src="{{ 'upload_why_cardsflex.png' | asset_url }}"
                class="w-10 h-10 mr-4"
                alt="">
              <p>Preview before printing</p>
            </div>

            <div class="flex items-center">
              <img
                src="{{ 'upload_why_cardsflex.png' | asset_url }}"
                class="w-10 h-10 mr-4"
                alt="">
              <p>Unbreakable quality</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>