{% if pagination.pages > 1 %}
  <nav role="navigation" class="flex justify-center items-center my-8">
    {% if pagination.previous %}
      {% comment %} <a href="{{ pagination.previous.url }}" class="border border-gray-600 text-gray-600 hover:bg-gray-600 hover:text-white px-8 py-3 mx-1 rounded-sm font-medium">{{ pagination.previous.title }}</a> {% endcomment %}
    {% endif %}


    {%- for part in pagination.parts -%}
      {%- if part.is_link -%}
        <a href="{{ part.url }}" class="border-gray-600 text-white transition-all duration-300 hover:bg-gray-600 hover:text-white px-3 py-1 mx-2 rounded-full bg-blue-custom">{{ part.title }}</a>
      {%- else -%}
        <span class="text-white bg-blue__gradient px-10 py-1 rounded-full mx-1 font-medium">{{part.title}}</span>
      {%- endif -%}
    {%- endfor -%}

    {% if pagination.next %}
      {% comment %} <a href="{{ pagination.next.url }}" class="border border-gray-600 text-gray-600 hover:bg-gray-600 hover:text-white px-8 py-3 mx-1 rounded-sm font-medium">{{ pagination.next.title }}</a> {% endcomment %}
    {% endif %}
  </nav>
{% endif %}