<li>
  <div class="flex items-center toggle__filter">
    <div class="text-white bg-gray-400 rounded-full p-2">
      {% render 'icon-question' %}
    </div>
    <div class="ml-4 w-full mr-3">
      <h3 class="">
        <span class="italic">{{ section.settings.support_title_1 }}</span>
      </h3>
    </div>
  </div>
  <div class="answer py-4 ml-16 ">
    <a
      href="javascript:void(0)"
      id="{{ section.settings.support_subtitle_1_1 }}"
      data-href="info_1_1"
      class="mt-2 transition duration-300 ease-in-out hover:opacity-70 info-link">
      <p>{{ section.settings.support_subtitle_1_1 }}</p>
    </a>
    <a
      href="javascript:void(0)"
      id="{{ section.settings.support_subtitle_1_2 }}"
      data-href="info_1_2"
      class="mt-2 transition duration-300 ease-in-out hover:opacity-70 info-link">
      <p>{{ section.settings.support_subtitle_1_2 }}</p>
    </a>
    <a
      href="javascript:void(0)"
      id="{{ section.settings.support_subtitle_1_3 }}"
      data-href="info_1_3"
      class="mt-2 transition duration-300 ease-in-out hover:opacity-70 info-link">
      <p>{{ section.settings.support_subtitle_1_3 }}</p>
    </a>
    <a
      href="javascript:void(0)"
      id="{{ section.settings.support_subtitle_1_4 }}"
      data-href="info_1_4"
      class="mt-2 transition duration-300 ease-in-out hover:opacity-70 info-link">
      <p>{{ section.settings.support_subtitle_1_4 }}</p>
    </a>
    <a
      href="javascript:void(0)"
      id="{{ section.settings.support_subtitle_1_5 }}"
      data-href="info_1_5"
      class="mt-2 transition duration-300 ease-in-out hover:opacity-70 info-link">
      <p>{{ section.settings.support_subtitle_1_5 }}</p>
    </a>
    <a
      href="javascript:void(0)"
      id="{{ section.settings.support_subtitle_1_6 }}"
      data-href="info_1_6"
      class="mt-2 transition duration-300 ease-in-out hover:opacity-70 info-link">
      <p>{{ section.settings.support_subtitle_1_6 }}</p>
    </a>
    <a
      href="javascript:void(0)"
      id="{{ section.settings.support_subtitle_1_7 }}"
      data-href="info_1_7"
      class="mt-2 transition duration-300 ease-in-out hover:opacity-70 info-link">
      <p>{{ section.settings.support_subtitle_1_7 }}</p>
    </a>
    <a
      href="javascript:void(0)"
      id="{{ section.settings.support_subtitle_1_8 }}"
      data-href="info_1_8"
      class="mt-2 transition duration-300 ease-in-out hover:opacity-70 info-link">
      <p>{{ section.settings.support_subtitle_1_8 }}</p>
    </a>
    <a
      href="javascript:void(0)"
      id="{{ section.settings.support_subtitle_1_9 }}"
      data-href="info_1_9"
      class="mt-2 transition duration-300 ease-in-out hover:opacity-70 info-link">
      <p>{{ section.settings.support_subtitle_1_9 }}</p>
    </a>
  </div>
</li>

<script>
  console.log({{section.settings.support_subtitle_1_1|json}})
</script>